body {
    font-family: "Oswald", sans-serif;
}

h1, h2, h3 {
    font-family: "Abril Fatface", cursive;
}

h2 {
    color: gold;
}

header h2 {
    color: gold;
}

footer {
    background-image:linear-gradient(to bottom right, gold, black);
    padding: 20px 0;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

.jumbotron {
    padding: 30px;
    background-image: url("/images/pjCollect.jpg");
    background-size: 100% 100%;
    color: gold;
}

row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}